/* 기본 스타일 */
body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #333;
  display: flex;
  flex-direction: column;
}

/* 헤더 스타일 */
.header {
  font-family: Arial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
  margin: 0;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  align-content: center;
  color: #111111;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
}

.logout-button {
  background: #d36565;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 55px;
}

.logout-button:hover {
  background: #d32f2f;
}

/* 컨테이너 (네비게이션 + 메인 컨텐츠) */
.container {
  display: flex;
  margin-top: 60px; /* 헤더 높이만큼 여백 */
}

/* 사이드바 스타일 */
.sidebar {
  width: 100px;
  background-color: #dcdfec;
  height: 100%;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.nav-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222222;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px;
  border-radius: 5px;
  color: #444444;
}

.sidebar ul li a:hover {
  background: #acb3d0;
}

/* 메인 컨텐츠 스타일 */
.content {
  flex: 0.99;
  margin-left: 250px; /* 사이드바 너비 + 여백 */
  padding: 20px;
}

/* 소개 영역 */
.introintro {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  width: 100%;
}

.intro h1 {
  font-size: 36px;
  font-weight: bold;
  color: #222;
}

.highlight {
  right: -10px;
  top: 2px;
  background: #6072ff;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
}

.sub-text {
  font-size: 20px;
  color: #555;
}

.purple-bold {
  color: rgb(160, 38, 255);
  font-weight: bold;
}

/* 챗봇 영역 */
.chatbot {
  margin: auto;
  max-width: 920px;
}

.chatbox {
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

#chat-area {
  flex: 1;
  padding-bottom: 10px;
}
.message {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.message.user {
  justify-content: flex-end;
}

.message.ai {
  justify-content: flex-start;
}

.message-content {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.message.user .message-content {
  background: #d1e7dd;
  color: #0f5132;
}

.message.ai .message-content {
  background: #e9ecef;
  color: #495057;
}

.input-area {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-top: 2px solid #ddd; /* 입력 영역 위쪽 테두리 */
}

#userInput {
  flex: 1;
  padding: 10px;
  border: 2px solid #b7b7b7;
  border-radius: 20px; /* 둥근 테두리 */
  margin-right: 10px;
  font-size: 16px;
  outline: none;
  width: 80%;
}

#send-button {
  cursor: pointer;
  background: #648cbf;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  min-width: 80px;
}

#send-button:hover {
  background: #1a64c3;
}

/* 준희 Chatbot 기능부분 */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 8px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.dropdown-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.dropdown-button img {
  margin-left: 8px;
  width: 12px;
  height: 12px;
}

.dropdown-button:hover {
  background-color: #f0f0f0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 200px;
}

.dropdown-menu button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: none;
  background: white;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

.dropdown-menu button .left-content {
  display: flex;
  align-items: center;
}

.dropdown-menu button img.model-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.dropdown-menu button img.check-icon {
  width: 16px;
  height: 16px;
  visibility: hidden;
}

.dropdown-menu button.selected img.check-icon {
  visibility: visible;
}

.dropdown-menu button:hover {
  background: #f0f0f0;
}

/* 준희 Chatbot 기능부분 끝 */

/* Introduction Page content */
.landingcard {
  border: 1px solid rgb(235, 238, 249);
  border-radius: 12px;
  width: 400px;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

/* TTS Pop-up */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  min-width: 290px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
.popup .yes-button {
  background-color: #393939;
  color: white;
}
.popup .no-button {
  background-color: #7f7f7f;
  color: white;
}

/* Function page */
.comment {
  margin-bottom: 10px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: #2c3e50;
}

.logout-button {
  background-color: #d36565;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #e74c3c;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 32px auto;
}

.intro {
  text-align: center;
  margin-bottom: 48px;
  background-color: white;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: black;
}

.intro h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.release-date {
  font-size: 18px;
  color: #7f8c8d;
  margin-bottom: 5px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.cta {
  background-color: #333;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #9e9e9e;
}

.info {
  background-color: white;
  max-width: 880px;
  padding: 50px 70px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 48px;
  font-size: 18px;
  color: black;
}

.pic1 {
  text-align: center;
  margin-bottom: 48px;
}

.pic2 {
  text-align: center;
  margin-bottom: 48px;
}

.warning {
  background-color: #fff3f3;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.warning p {
  font-size: 18px;
  color: #e74c3c;
  font-weight: bold;
}
