<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Financial Advisor | Copyright</title>
    <!-- Tab Title -->
    <style>
      .headertitle {
        font-size: 72px;
        font-weight: bold;
        text-align: center;
      }
      .copyrightcontainer {
        font-size: 22px;
        text-align: left;
        padding: 8px;
        margin: 8px;
        min-width: 620px;
        text-decoration: none;
        position: center;
        margin-left: 10%;
        margin-right: 10%;
      }
      .horizontalline {
        border-color: #a024ff;
        margin-bottom: 30px;
        width: 85%;
      }
    </style>
  </head>
  <body>
    <header>
      <p class="headertitle">Copyright Notice</p>
      <hr class="horizontalline" />
    </header>
    <article class="copyrightcontainer">
      <a
        href="https://www.flaticon.com/free-icons/white-arrow"
        title="white arrow icons"
        >White arrow icons created by Lizel Arina - Flaticon</a
      ><br /><br />
      <a href="https://www.flaticon.com/free-icons/info" title="info icons"
        >Info icons created by Freepik - Flaticon</a
      ><br /><br />
      <a
        href="https://www.flaticon.com/free-icons/information"
        title="information icons"
        >Information icons created by Freepik - Flaticon</a
      ><br /><br />
      <a href="https://www.flaticon.com/free-icons/logout" title="logout icons"
        >Logout icons created by Pixel perfect - Flaticon</a
      ><br /><br />
      <a
        href="https://www.flaticon.com/free-icons/text-to-speech"
        title="text to speech icons"
        >Text to speech icons created by JessiGue - Flaticon</a
      ><br /><br />
      <a href="https://www.flaticon.com/free-icons/mic" title="mic icons"
        >Mic icons created by Kiranshastry - Flaticon</a
      ><br /><br />
      <a
        href="https://www.flaticon.com/free-icons/tendency"
        title="tendency icons"
        >Tendency icons created by Vectors Tank - Flaticon</a
      ><br /><br />
      <a
        href="https://www.flaticon.com/free-icons/statistics"
        title="statistics icons"
        >Statistics icons created by srip - Flaticon</a
      ><br /><br />
      <a href="https://www.flaticon.com/free-icons/user" title="user icons"
        >User icons created by Freepik - Flaticon</a
      ><br /><br />
    </article>
  </body>
</html>
